site_name: TvDatafeed Documentation
site_description: Python library to fetch historical and real-time data from TradingView
site_author: TvDatafeed Contributors
site_url: https://tvdatafeed.readthedocs.io/

repo_name: tvdatafeed
repo_url: https://github.com/semoi/tvdatafeed

theme:
  name: material
  language: en
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: semoi
      repo: tvdatafeed
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quickstart.md
    - Authentication: getting-started/authentication.md
  - API Reference:
    - Overview: api/index.md
    - TvDatafeed: api/tvdatafeed.md
    - TvDatafeedLive: api/tvdatafeedlive.md
    - Helper Classes: api/helpers.md
    - Exceptions: api/exceptions.md
    - Configuration: api/configuration.md
  - Examples:
    - Basic Usage: examples/basic.md
    - 2FA Authentication: examples/2fa.md
    - Live Data Feed: examples/live-feed.md
    - Date Range Queries: examples/date-range.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/semoi/tvdatafeed
  generator: false

copyright: Copyright &copy; 2024 TvDatafeed Contributors
